* {
    box-sizing: border-box
  }
  body {
    margin: 0;
    padding: 0;

  }
    .mouseposition4326 {
    background:rgba(7, 83, 23, 0.616);
    border-radius: 4px;
    bottom: 15px;
    left: 170px;
    padding:2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
font-size: x-small;
    position:absolute;
    color:rgb(255, 255, 255);
    border: 0.5mm solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  
    }

    .map {
      height: 100vh;
      width: 100vw;
    }

    #layer-button {
    background-color: rgba(7, 83, 23, 0.616);
    position:fixed;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    z-index: 2;
    top: 11px;
    right: 20px;
    width: 30px;
    height: 30px;
    color:rgb(255, 255, 255);
    border: 0.5mm solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 4px;
    }
    .sidebar {
    display: none;
    position: absolute;
    top: 10em;
    right: 2em;
    width: fit-content;
    height: fit-content;
    background-color: rgba(7, 83, 23, 0.616);
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 14px;
    font-weight: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #eee;
    border: 0.5mm solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 4;
    }
    .legend1 {
    display: none;
    position: absolute;
    right: 360px;
    bottom: 15px;
    padding: 10px;
    width: 220px;
    height: 200px;
    background-color: rgba(17, 83, 23, 0.616);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 0.5mm solid rgb(255, 255, 255);
    border-radius: 4px;
    z-index: 4;
    }
    .legend2 {
    display: none;
    position: absolute;
    right: 590px;
    bottom: 15px;
    padding: 10px;
    width: 150px;
    height: 85px;
    background-color: rgba(17, 83, 23, 0.616);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 0.5mm solid rgb(255, 255, 255);
    border-radius: 4px;
    z-index: 4;
    }
    .legend3 {
    display: none;
    position: absolute;
    right: 750px;
    bottom: 15px;
    padding: 10px;
    width: 220px;
    height: 100px;
    background-color: rgba(17, 83, 23, 0.616);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 0.5mm solid rgb(255, 255, 255);
    border-radius: 4px;
    z-index: 4;
    }
    #main_title {
    position:fixed;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    top: 2%;
    left: 27%;
    width: 600px;
    height: 40px;
    color:rgb(255, 255, 255);
    border: 0.5mm solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: rgba(7, 83, 23, 0.616);
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size:  22px;
    }
    #measure {
    display: none;
    position: absolute;
    left: 50px;
    top: 282px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(7, 83, 23, 0.616);
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255);
    border: 0.5mm solid rgba(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 5;
    }
    
    #mes-but {
    cursor: pointer;
    left: 10px;
    top: 350px;
    width: 28px;
    height: 28px;
    padding-top: 3px;
    padding-left: 3px;
    background-color: rgba(7, 83, 23, 0.616);
    border-radius: 4px;
    border: 0.5mm solid rgba(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
    z-index: 3;
    }
    
    .map .tooltip {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color: rgba(7, 83, 23, 0.616);
    color: #eee;
    padding: 3px;
    border-radius: 4px;
    border: 0.5mm solid rgba(230, 230, 230);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    
    .map .locate {
    position: absolute;
    left: 11px;
    top: 275px;
    outline: 0.5mm solid rgb(230, 230, 230);
    width: 27px;
    height: 27px;
    background-color: rgba(7, 83, 23, 0.616);
    }
    .map .locate button {
    position: absolute;
    background-color: rgba(7, 83, 23, 0);
    width: 27px;
    height: 27px;
    left: -3%;
    top: -5%;
    }
    .map .ol-zoom-extent {
    top: 311px;
    left: 11px;
    outline: 0.5mm solid rgb(230, 230, 230);
    background:rgba(7, 83, 23, 0.616);
    width: 27px;
    height: 27px;
    }
    .map .ol-zoom-extent button {
    position: absolute;
    background-color: rgba(7, 83, 23, 0);
    width: 27px;
    height: 27px;
    left: -3.5%;
    top: -5%;
    outline: 0.5mm solid rgb(230, 230, 230);
    }

    .map .ol-zoom {
    left: 11px;
    top: 11px;
    }
    .ol-zoom button {
    left: 11px;
    top: 11px;
    background-color: rgb(7, 83, 23, 0.616);
    outline: 0.5mm solid rgb(230, 230, 230);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }


    .map .ol-control button:hover,.ol-zoomslider:hover {
    background-color: rgba(7, 83, 23, 0.616);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    .map .ol-zoomslider {
    cursor: pointer;
    top: 70px;
    left: 11px;
    background-color: rgba(7, 83, 23, 0.616);
    outline: 0.5mm solid rgb(230, 230, 230);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    .map .ol-zoomslider button {
    box-shadow: 0 3px 3px rgba(0,0,0,0.1) ;
    background-color: rgba(255, 255, 255, .9);

    }
    .map .ol-scale-line {
    background:rgba(7, 83, 23, 0.616);
    border-radius: 4px;
    bottom: 45px;
    left: 170px;
    padding:3px;
    position:absolute;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: 0.5mm solid rgb(230, 230, 230);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }


    .map .ol-overviewmap button {
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: rgb(7, 83, 23, 0.616);
    }
    .info-but {
    background-color: rgba(7, 83, 23, 0.616);
    position:fixed;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    z-index: 2;
    top: 11px;
    right: 60px;
    width: 30px;
    height: 30px;
    color:rgb(255, 255, 255);
    border: 0.5mm solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 4px;
    }
    .info-text {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 335px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    color: rgb(255, 255, 255);
    background-color: rgb(7, 83, 23, 0.616);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 4px;
    border: 0.5mm solid rgb(255, 255, 255);
    z-index: 4;
    }
    .tematic-but {
    background-color: rgba(7, 83, 23, 0.616);
    position:fixed;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    z-index: 2;
    top: 11px;
    right: 100px;
    width: 30px;
    height: 30px;
    color:rgb(255, 255, 255);
    border: 0.5mm solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 4px;
    }
    .tematic-layers {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(7, 83, 23, 0.616);
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    line-height: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 14px;
    color: #eee;
    font-weight: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    border: 0.5mm solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 4;
    }

    .overlay-PP{
    background-color: rgba(7, 83, 23, 0.616);
    font-weight:lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #eee;
    position: relative;
    top: 20px;
    right: 20px;
    border: 0.5mm solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 4px;
    }
    .overlay-KP{
    background-color: rgba(7, 83, 23, 0.616);
    font-weight:lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #eee;
    position: relative;
    top: 20px;
    right: 20px;
    border: 0.5mm solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 4px;
    }
    .overlay-SP{
    background-color: rgba(7, 83, 23, 0.616);
    font-weight:lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #eee;
    position: relative;
    top: 20px;
    right: 20px;
    border: 0.5mm solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 4px;
  }
  .overlay-St{
  background-color: rgba(7, 83, 23, 0.616);
  font-weight:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #eee;
  position: relative;
  top: 20px;
  right: 20px;
  border: 0.5mm solid rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 4px;
  }
  .overlay-DP{
  background-color: rgba(7, 83, 23, 0.616);
  font-weight:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #eee;
  position: relative;
  top: 20px;
  right: 20px;
  border: 0.5mm solid rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 4px;
  }
  .overlay-PD{
  background-color: rgba(7, 83, 23, 0.616);
  font-weight:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #eee;
  position: relative;
  top: 20px;
  right: 20px;
  border: 0.5mm solid rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 4px;
    }
    .overlay-SR{
    background-color: rgba(7, 83, 23, 0.616);
    font-weight:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #eee;
    position: relative;
    top: 20px;
    right: 20px;
    border: 0.5mm solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 4px;
    }
    .overlay-Pr{
    background-color: rgba(255, 0, 0, 0.425);
    font-weight:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #eee;
    position: relative;
    top: 20px;
    right: 20px;
    border: 0.5mm solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 4px;
    }
    .overlay-point{
    background-color: rgba(7, 83, 23, 0.616);
    font-weight:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #eee;
    position: relative;
    top: 20px;
    right: 20px;
    border: 0.5mm solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 4px;
    }
    .overlay-container {  
    background-color: rgba(7, 83, 23, 0.616);
    border-radius: 4px;
    font-weight: 'Lucida Sans';
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 16px;
    color: #eee;
    border: 0.5mm solid rgb(255, 255, 255);
    position: relative;
    top: 20px;
    left: 100px;
    width: 500px;
    Line-height: 2;
    }
    .overlay-container1 {  
    background-color: rgba(7, 83, 23, 0.616);
    border-radius: 4px;
    font-weight: 'Lucida Sans';
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 16px;
    color: #eee;
    border: 0.5mm solid rgb(255, 255, 255);
    position: relative;
    top: 20px;
    left: 100px;
    width: 500px;
    Line-height: 2;
    }
    .overlay-container2 {  
    background-color: rgb(7, 83, 23, 0.616);
    border-radius: 4px;
    font-weight: 'Lucida Sans';
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 16px;
    color: #eee;
    border: 0.5mm solid rgb(255, 255, 255);
    position: relative;
    top: 20px;
    left: 100px;
    width: 500px;
    Line-height: 2;
    }
    .overlay-container3 {  
    background-color: rgb(7, 83, 23, 0.616);
    border-radius: 4px;
    font-weight: 'Lucida Sans';
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 16px;
    color: #eee;
    border: 0.5mm solid rgb(255, 255, 255);
    position: relative;
    bottom:180px;
    left: 100px;
    width: 500px;
    Line-height: 2;
    }
    .overlay-container4 {  
    background-color: rgba(255, 0, 0, 0.425);
    border-radius: 4px;
    font-weight: 'Lucida Sans';
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 16px;
    color: #eee;
    border: 0.5mm solid rgb(255, 255, 255);
    position: relative;
    top: 20px;
    left: 100px;
    width: 500px;
    Line-height: 2;
    }
    .overlay-container5 {  
    background-color: rgba(7, 83, 23, 0.616);
    border-radius: 4px;
    font-weight: 'Lucida Sans';
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 16px;
    color: #eee;
    border: 0.5mm solid rgb(255, 255, 255);
    position: relative;
    top: 20px;
    left: 100px;
    width: 400px;
    Line-height: 2;
    }
    .overlay-container6 {  
    background-color: rgba(7, 83, 23, 0.616);
    border-radius: 4px;
    font-weight: 'Lucida Sans';
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 16px;
    color: #eee;
    border: 0.5mm solid rgb(255, 255, 255);
    position: relative;
    top: 20px;
    right: 300px;
    width: 400px;
    Line-height: 2;
    }
  .d-button
    {
    background-color: rgba(7, 83, 23, 0.616);
    position:fixed;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    z-index: 2;
    top: 11px;
    right: 140px;
    width: 30px;
    height: 30px;
    color:rgb(255, 255, 255);
    border: 0.5mm solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 4px;
    }












